body {
  font-family: Arial, sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.dropdown-button:hover {
  background-color: #45a049;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

#leftPanel {
  flex: 1;
  overflow: auto;
}

#rightPanel {
  flex: 2;
  overflow: auto;
}

.draggable-handle {
  width: 5px;
  background-color: #ccc;
  cursor: ew-resize;
  z-index: 10;
}

.formula-bar-container {
  margin-bottom: 10px;
}
.formula-bar {
  width: 100%;
  height: 30px;
  padding: 5px;
  font-size: 14px;
}
.htCore {
  border: 1px solid #dcdcdc;
  font-family: "Arial", sans-serif;
  font-size: 13px;
}

.ht_master .htCore tbody td {
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.ht_master .htCore thead th {
  background-color: #f3f3f3;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  font-weight: bold;
}

.ht_master .htCore thead th:nth-child(odd) {
  background-color: #eaeaea;
}

.ht_master .htCore tbody tr:nth-child(odd) td {
  background-color: #fbfbfb;
}

.ht_master .htCore tbody tr:hover td {
  background-color: #f5f5f5;
}

.ht_clone_top .htCore thead th {
  border-color: #e0e0e0;
  background-color: #f9f9f9;
  font-weight: bold;
}
